.travelcontainer {
  margin-top: -10px;
  width: 92vw;
}

.travel {
  display:block;
  float:left;
  position:relative;
  width: 30vw;
  padding-bottom:10px;
  text-align:center;
  border-radius: 5px;
  margin-left: 5px;
  background-color: white;
  z-index: 9999;
}
