.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 8px 6px -6px black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
